*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.container{
    width: 390px;
    padding: 33px;
    text-align: center;
    background-color: white;
    margin-left: 35%;
    margin-top: 5px;
}

input{
    width: 230px;
    padding: 8px;
    border: 2px solid rgb(59, 110, 110);
    outline: none;
    font-size: 19px;
}

#add-btn{
    width: 60px;
    height: 41px;
    color:white;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: blue;
    font-size: 19px;
}

.inputs{
    margin-top: 1.5em; 
}

.completed{
    text-decoration: line-through;
    color: red;
}